/* * global */
/* ** text styles, global variables, etc */
body {
  --brick: oklch(50.05% 0.147 26.87);
  --brick-fallback: #a73832;
  --dark-brick: oklch(30.05% 0.147 26.87);
  --dark-brick-fallback: #640000;
  --gold: oklch(69% 0.147 96.87);
  --gold-fallback: #b69a00;
  --grey: #888;
  --dark-grey: #444;
  --light-grey: #bbb;
  --sans-serif: "Droid Sans", sans-serif;
  --serif: "Droid Serif", serif;
  background: #fffffa;
  color: #111;
  line-height: 140%;
  font-size: 12pt;
  font-family: var(--serif);
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

h1 {
  font-size: 2.2em;
  margin: 1rem 0;
}
h2 {
  font-weight: 400;
  font-family: var(--sans-serif);
  color: var(--brick, var(--brick-fallback));
}
h3 {
  color: var(--dark-brick, var(--dark-brick-fallback));
  border-bottom: 2px solid var(--gold, var(--gold-fallback));
}
h4 {
  font-size: 1.1em;
}

/* icons */
svg {
  color: var(--grey);
  margin-right: 0.5em;
}

/* ** <dl>, what a concept */
dl, ul {
  list-style-type: circle;
}

dt {
  float: left;
  clear: left;
  font-weight: bold;
  margin-right: 0.5em;
  /* list-style-type: circle; */
}

dt::after { content: " :: " }

dd {
  /* grid-column-start: 2; */
  margin-left: 0;
}

/* * header */
/* ** contact info */
.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
  line-height: 2;
}
.contact {
  align-items: center;
  color: inherit;
  display: inline-flex;
  flex-direction: row;
  margin-right: 3em;
  page-break-inside: avoid;
  text-decoration: none;
}
.contact svg {
  color: var(--brick, var(--brick-fallback));
}

/* ** key skills */
.key-skills {
  --spacing: 0.75em;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--dark-grey);
}

.key-skills .skillset {
  margin-bottom: var(--spacing);
  display: inline-block;
}

.key-skills h4 {
  font-family: var(--sans-serif);
  font-size: 1.1em;
  margin: 0 1em 0 0;
  text-decoration: underline;
}

.key-skills ul {
  padding: 0;
  margin: 0;
}

.key-skills li {
  margin: 0;
  list-style: none;
}

/* * resume */
/* ** layout */
.resume {
  display: grid;
  gap: 1rem;
  grid-template-columns: 60% 40%;
}

@media screen and (max-width: 1000px) {
  .resume {
    grid-template-columns: repeat(2, 1fr); /* equal columns */
  }
}

@media screen and (max-width: 800px) {
  .resume {
    grid-template-columns: 1fr; /* Single column layout */
  }
}

/* ** entry */
.entry {
  page-break-inside: avoid;
}

.entry:first-child {
  margin-top: 3em;
}

.entry:not(:last-of-type) {
border-bottom: 1px dashed var(--light-grey);
}

.entry-title {
  margin: 1rem 0 0 0;
  color: var(--dark-grey);
}
.entry-title-per-se {
  color: var(--brick, var(--brick-fallback));
  margin-bottom: 2px;
}
.entry a:not(.entry-title-per-se) {
  color: var(--dark-brick, var(--dark-brick-fallback));
}
.entry p {
  margin-top: 0.25em;
}

.entry-dates {
  color: var(--dark-grey);
  font-family: var(--sans-serif);
}

@media print {
  .whoami h1,
  .whoami h2 {
    width: fit-content;
  }
  .whoami { vertical-align: top; }
  .contact-info {
    width: 60%;
    float: right;
  }
  .contact-info, .whoami {
    display: inline-block;
  }
  .resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
